In [8]:
r = 5
for i in range(r+1):
  for j in range(i):
    print("*",end=" " )
  print()
for i in reversed(range(r)):
  for j in range(i):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [9]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(len(my_list)):
  if i%2!=0:
    print(my_list[i])

20
40
60
80
100

In [13]:
x = [23, "Python", 23.98]
y=[]
for i in x:
  y.append(type(i))
print (x)
print(y)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [25]:
Sample_List= [1,2,3,3,3,3,4,5]
def unq(mylist):
  a=set(mylist)
  a=list(a)
  return a
unq(Sample_List)

[1, 2, 3, 4, 5]

In [24]:
Input_String= 'The quick Brow Fox'
u=0
l=0
for i in Input_String:
  if(i!=" "):
    if(i.isupper()):
      u+=1
    else:
      l+=1
print("No. of Upper-case characters : ", u)
print("No. of Lower-case characters : ", l)

No. of Upper-case characters :  3
No. of Lower-case characters :  12